
@{
    ViewBag.Title = "Index";
}

<center><h2>Welcome to the Student Badges Page</h2></center>

<div>
    <img src="~/Content/img/student_homepage.png" alt="Student Homepage Wireframe" usemap="#StudentHomeMap" class="center">
</div>

<map name="StudentHomeMap">
    <area shape="rect" coords="385,480,495,515" href="~/StudentBadges/Index" alt="Sun">
    <area shape="rect" coords="385,480,495,515" href="~/StudentData/Index" alt="Sun">
</map>