
@{
    ViewBag.Title = "Index";
}

<center><h2>Calendar</h2></center>

<center><img src="~/Content/img/AdminCalender.png" alt="Admin Calendar" usemap="#CalendarMap"></center>
<!-- map for navigation -->
<map name="CalendarMap">
    <area shape="rect" coords="21,4,80,28" alt="Students" href="~/AdminStudent/">
    <area shape="rect" coords="88,4,141,28" alt="Reports" href="~/AdminReport/">
    <area shape="rect" coords="216,4,270,28" alt="Settings" href="~/AdminSettings/">
</map>
