
@{
    ViewBag.Title = "Index";
}

<center><h2>Calendar</h2></center>

<center><img src="~/Content/img/AdminCalender.png" alt="Admin Calendar" usemap="#CalendarMap"></center>

<map name="CalendarMap">
    <area shape="rect" coords="0,50,82,126" alt="Students" href="~/AdminStudent/">
    <area shape="rect" coords="0,50,82,126" alt="Reports" href="~/AdminReport/">
    <area shape="rect" coords="0,50,82,126" alt="Calendar" href="~/AdminCalendar/">
    <area shape="rect" coords="0,50,82,126" alt="Settings" href="~/AdminSettings/">
</map>
