/* light Teal background */
body {
    background-color: #67C1C1;
}
/* Yellow Title */
h1 {
    color: #FFC526;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    display: inline-block;
}

.logo {
    padding: 10px 0px 0px 0px;
    display: inline-block;
}

.formPadding {
    padding: 20px 0px 20px 0px;
}

.outerContainer {
    background-color: #E0E0E0;
    padding: 10px 10px 10px 10px;
}

.innerContainer {
    background-color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.content {
    background-color: #FEBC04;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.titleAdmin {
    color: #137F7A;
    font-family: 'Roboto', sans-serif;
}

.search {
    float: right;
    padding: 2px;
    margin-top: 8px;
    margin-right: 16px;
    border-style: solid;
    border-color: #DDB36B;
    border-radius: 25px;
    font-size: 17px;
}

.btn-primary {
    background-color: #DDB36B;
    outline-color: #DDB36B;
    border: none;
}

    .btn-primary:hover {
        background-color: #FFC526;
    }

.tabs > li > a:hover {
    background-color: #FFC526;
}