/* light Teal background */
body {
    background-color: #67C1C1;
}
/* Yellow Title */
h1 {
    color: #FFC526;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.logo {
    padding: 50px 0px 0px 0px;
}

.formPadding {
    padding: 20px 0px 20px 0px;
}

.content {
    background-color: #FEBC04;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.titleAdmin {
    color: #137F7A;
    font-family: 'Roboto', sans-serif;
}
