body {
    min-width: 550px;
    white-space: nowrap;
}

.spacing {
    padding: 50px;
}

.homepage-btn-student,
.homepage-btn-student:visited,
.homepage-btn-student:focus {
    border-radius: 20px;
    background-color: #137f78;
    border-color: #137f78;
    padding-left: 37px;
    padding-right: 37px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

    .homepage-btn-student:hover {
        background-color: #0f7069;
    }

.homepage-btn-admin,
.homepage-btn-admin:visited,
.homepage-btn-admin:focus {
    border-radius: 20px;
    background-color: #137f78;
    border-color: #137f78;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

    .homepage-btn-admin:hover {
        background-color: #0f7069;
    }

.logo {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.home-col {
    display: inline-block;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
}
