.kiosk-body {
    background-color: #EBC41C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.logo {
    padding-top: 50px;
}

.photo {
    border-radius: 20px;
}

p {
    padding-top: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    float: left;
    position: relative;
    left: 50%;
}

.box {
    flex: 1 0 33.33%;
    float: left;
    position: relative;
    left: -50%;
}

.student {
    background-color: #66C1C1;
    border-radius: 30px;
    display: inline-block;
    width: 190px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.message {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: #66C1C1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.badge-earn {
    font-size: 14px;
    opacity: 0;
    align-content: center;
    margin-top: 40px;
    width: 140px;
    height: 140px;
    margin-left: 23px;
}

