body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

about {
    width: 200px;
    word-break: break-all;
}

.spacing {
    padding: 50px;
}

.homepage-btn-student,
.homepage-btn-student:visited,
.homepage-btn-student:focus {
    border-radius: 20px;
    background-color: #137f78;
    border-color: #137f78;
    padding-left: 37px;
    padding-right: 37px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.homepage-btn-student:hover {
    background-color: #0f7069;
}

.homepage-btn-admin,
.homepage-btn-admin:visited,
.homepage-btn-admin:focus {
    border-radius: 20px;
    background-color: #137f78;
    border-color: #137f78;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.homepage-btn-admin:hover {
    background-color: #0f7069;
}

.logo {
    padding: 50px;
}


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
