
/* Style used for Student Page */

/* Dark Teal background */
body {
    background-color: #127f79;
}
/* Yellow Title */
#pageTitle {
    color: #FFC526;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 45px;
}

/* Title for each badge row*/
#rowTitle {
    color: #58c4c2;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
/* Container for each line of badges */
#badgeRow {
    background-color: #58c4c2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

/* Caption for Badges*/
#badgeCaption {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* Navbar at bottom of page for navigating between student pages */
#studentNavBar {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 45px;
    width: 100%;
    padding: 5px;
}

/* Style for Navbar Badge Button*/
#studentBadgesTab {
    background-color: #febc04;
    color: white;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 3px;
    margin-right: 3px;
}

/* Style for Navbar Data Tab */
#studentDataTab {
    background-color: #fcce00;
    color: white;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 3px;
    margin-right: 3px;
}

/* Style for Navbar Profile Tab*/
#studentProfileTab {
    background-color: #67dbdb;
    color: white;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 3px;
    margin-right: 3px;
}

/* Dropdown for badge description */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropown box */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown for hover box */
.dropdown:hover .dropdown-content {
    display: block;
    border: 4px solid #f2c924;
    padding: 10px;
    border-radius: 25px;
}

/* Text inside of the dropdown */
#dropDownText {
    color: cadetblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* Container Data Section */
#dataBox {
    background-color: #58c4c2;
    padding-top: 25px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

/* Regular Text */
#dataText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #127f79;
}

/* Container Titles */
#dataTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

/* Grid Style */
.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #127f79;
    padding: 5px;
    width: 95%;
}

/* Box Style for each box in grid */
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
}

/* Image size fix due to different image resolution sizes*/
#imageFix {
    height: 82%;
    width: 82%;
}