
@{
    ViewBag.Title = "Index";
}

<center><h2>Admin Student Tab</h2></center>

<center><img src="~/Content/img/Admin_Student_Tab.png" alt="Admin Student" usemap="AdminStudentMap"></center>


<map name="AdminStudentMap">
    <area shape="rect" coords="0,50,82,126" alt="Students" href="~/AdminStudent/">
    <area shape="rect" coords="0,50,82,126" alt="Reports" href="~/AdminReport/">
    <area shape="rect" coords="0,50,82,126" alt="Calendar" href="~/AdminCalendar/">
    <area shape="rect" coords="0,50,82,126" alt="Settings" href="~/AdminSettings/">
</map>
