
@{
    ViewBag.Title = "Index";
}

<center><h2>Admin Exapnded Student</h2></center>

<center><img src="~/Content/img/Expanded_Student_View.png" alt="Expanded Student View" usemap="#AdminExpandedStudentMap"></center>

<map name="AdminExpandedStudentMap">
    <area shape="rect" coords="36, 74, 87, 122" href="~/AdminStudent/Index" alt="Sun">
</map>