
@{
    ViewBag.Title = "Index";
}
<!--Title text for report page-->
<center><h2>Report PDF</h2></center>
    <!--button to take you back to admin report page-->
@Html.ActionLink("Back", "Index", "AdminReport", null, new { @class = "btn btn-primary" })

    <!--Wireframe image of admin report sample-->
<center><img src="~/Content/img/Report PDF.png" alt="Report PDF" usemap="#AdminReportPDFMap "></center>

<!-- map for navigation -->
<map name="AdminReportPDFMap">
    <!--Navigation to admin report.-->
    <area shape="rect" coords="385,480,495,515" href="~/AdminReport/Index" alt="Sun">
</map>