
@{
    ViewBag.Title = "Index";
}

<center><h2>Report PDF</h2></center>
@Html.ActionLink("Back", "Index", "AdminReport", null, new { @class = "btn btn-primary" })

<center><img src="~/Content/img/Report PDF.png" alt="Report PDF" usemap="#AdminReportPDFMap "></center>


<map name="AdminReportPDFMap">
    <area shape="rect" coords="385,480,495,515" href="~/AdminReport/Index" alt="Sun">
</map>