
@{
    ViewBag.Title = "Index";
}

<center><h2>Welcome to the Student Badges Page</h2></center>

<center><img src="~/Content/img/StudentBadgeTab.jpg" alt="Student Badges" usemap="#StudentBadgesMap" /></center>


<map name="StudentBadgesMap">
    <area shape="rect" coords="385,480,495,515" href="~/StudentHome/Index" alt="Sun">
    <area shape="rect" coords="385,480,495,515" href="~/StudentData/Index" alt="Sun">
</map>