@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3><p><b>Welcome to SnapAttendance. </b></p></h3>


<div class="about">

    <p>
        <b>Vision Statement:</b> To encourage students at Middle College High School to improve their attendace with a simple,  
        user-firendly attendance tracking system.
    </p>

    <p>
        This is an attendance tracking and motivation system for students and administrators at Middle College High School.
        This system has three parts: kiosk check-in, student account and administrator account. 
        Students can check in at a simple, and quick check-in interface at the front of the school. 
        Students can also log into their own accounts to see the badges they have collected and their attendance records. 
        Administrators can log into their accounts to see student data, a school calendar, reports and more! 
    </p>

    <p>

        SnapAttendance was a team effort created by: Joel Aguiar, Jacob Joseph, Sau Chung (Matt) Loh, Valerio Marcelli, and 
        Vilia Wang. 

    </p>

    <p>

        Enjoy!

    </p>

</div>
