@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>This system is make as a class project for Seattle University CS department Students, in conjunction with Middle College High School</p>

<a href="https://www.seattleu.edu/education/community-engagement/middle-college-high-school/">Middle College High School</a>

<br />
<a href="https://www.seattleu.edu/">Seattle University</a>

<h3>Omelette Team</h3>
<p>
    Contact:<br /> <a href="mailto:wangv2@seattleu.edu">Vilia Wang</a><br />
    <a href="mailto:marcelli@seattleu.edu">Valerio Marcelli</a><br />
    <a href="mailto:josephj4@seattleu.edu">Jacob Joseph</a><br />
    <a href="mailto:lohs@seattleu.edu">Sau Chung Loh</a><br />
    <a href="mailto:aguiarj1@seattleu.edu">Joel Aguiar</a><br />
</p>

