@{
    ViewBag.Title = "Edit Me";
}
<center>

    <h2>@ViewBag.Title.</h2>

    <p>This is a page to practice a POST method. Let's hope it works...</p>
    <br />

    <img src="~/Content/img/temp.gif" alt="confused">
    <br /> <br /> <br />

    @{
        var word = "dogs";
    }

    <p>Random Word of the day: @word</p>

</center>


