@*sets the title of the page*@
@{
    ViewBag.Title = "Index";
}

@*wireframe png*@
<div class="text-center">
        <div class="row">
            <div class="text-center">
                <img src="~/Content/img/logos/logo_yellow.png" alt="SnapAttendanceLogo">
            </div>
        </div>
        <div class="row">
            <div class="spacing"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <img src="~/Content/img/homepage/pencil.png" alt="Student">
                </div>
                <div class="row">
                    <button class="btn btn-info homepage-btn-student">Student</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <img src="~/Content/img/homepage/apple.png" alt="Admin">
                </div>
                <div class="row">
                    <button class="btn btn-info homepage-btn-admin">Administrator</button>
                </div>

            </div>
        </div>
</div>

@*hotspots on the wireframe image to link to the student and admin sections*@
<map name="HomeMap">
    <area shape="rect" coords="210,400,330,430" href="~/StudentLogin/Index" alt="Sun">
    <area shape="rect" coords="490,400,680,430" href="~/AdminLogin/Index" alt="Sun">
</map>
