@*sets the title of the page*@
@{
    ViewBag.Title = "Index";
}

@*wireframe png*@
<div class="logo">
    <img src="~/Content/img/logos/logo_yellow.png" alt="SnapAttendanceLogo" class="center" usemap="#HomeMap">
</div>

@*hotspots on the wireframe image to link to the student and admin sections*@
<map name="HomeMap">
    <area shape="rect" coords="210,400,330,430" href="~/StudentLogin/Index" alt="Sun">
    <area shape="rect" coords="490,400,680,430" href="~/AdminLogin/Index" alt="Sun">
</map>
