@*sets the title of the page*@
@{
    ViewBag.Title = "Index";
}

@*wireframe png*@
<div class="text-center" style="max-width: 800px;">
        <div class="row">
            <img class="logo" src="~/Content/img/logos/logo_yellow.png" alt="SnapAttendanceLogo">
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <img src="~/Content/img/homepage/pencil.png" alt="Student">
                </div>
                <div class="row">
                    <button class="btn btn-info homepage-btn-student" onclick="window.location.href='/StudentLogin/Index'">Student</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <img src="~/Content/img/homepage/apple.png" alt="Admin">
                </div>
                <div class="row">
                    <button class="btn btn-info homepage-btn-admin" onclick="window.location.href='/AdminLogin/Index'">Administrator</button>
                </div>
                <div class="row">
                    <div class="spacing"></div>
                </div>
            </div>
        </div>
</div>