
@{
    ViewBag.Title = "Index";
}

<!-- Title text for Admin login  -->
<center><h2>Welcome to the Admin Login Page</h2></center>

<!-- Wireframe image for admin login -->
<center><img src="~/Content/img/AdminLogin.jpg" alt="Admin Login" usemap="#AdminLoginMap"/></center>

<!-- use map navigation from admin login to admin student page-->
<map name="AdminLoginMap">
    <area shape="rect" coords="385,480,495,515" href="~/Admin/Student" alt="Sun">
</map>
