@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}
<!-- Title for Kiosk Login Page -->
<center><h2>Kiosk Login</h2></center>

<!-- Wireframe of Student Kiosk Login here -->
<div>
    <center><img src="~/Content/img/KioskLogin.png" alt="KioskLogin Wireframe" usemap="#KioskLoginMap" class="center"></center>
</div>

<!-- use map to navigate from home data -->
<map name="KioskLoginMap">
    <area shape="rect" coords="210,315,320,350" href="~/KioskSignIn/Index" alt="Sun">
</map>
