@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<center><h2>Kiosk Login</h2></center>

<div>
    <center><img src="~/Content/img/KioskLogin.png" alt="Student Homepage Wireframe" usemap="#KioskLoginMap" class="center"></center>
</div>

<map name="KioskLoginMap">
    <area shape="rect" coords="385,480,495,515" href="~/KioskSignIn/Index" alt="Sun">
</map>
