@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    @*imports google roboto font*@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    @*links to kiosk css file*@
    <link rel="stylesheet" href="~/Content/kiosk.css">
    @*links to kiosk js file*@
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kiosk.js"></script>
</head>

<body class="kiosk-body text-center">
        <div class="row">
            @*SnapAttendance logo*@
            <img class="logo" src="~/Content/img/logos/logo_white.png" alt="SnapAttendanceLogo">
        </div>
        <div class="row greeting">
            @*'Click to sign in' greeting*@
            <p>Click yourself to sign in!</p>
        </div>

        <div class="grid">
            @*grid of students, box is clickable mock sign in and out*@
            @{
                foreach (var item in Model.StudentList)
                {
                    <div class="box">
                        <div class="student text-center">
                            <div class="greeting message">
                                <p>Welcome, @item.Name!</p>
                                <div class="badge-earn">
                                    <p class="badge-message">Badge Earned!</p>
                                    <img class="badge-icon" src="~/Content/img/Student/Student_EarlyB3.png" alt="Early Bird" width="50" height="50">
                                    <p class="badge-message">Early Bird - Gold</p>
                                </div>
                            </div>
                            <div class="farewell message">
                                <p>See you next time!</p>
                            </div>
                            <img class="photo" src="~/Content/img/@item.AvatarId" alt="Student Image">
                            <p>@item.Name</p>
                        </div>
                    </div>
                }
            }
        </div> 
    
</body>

