@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    @*imports google roboto font*@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/kiosk.css">
    <script type="text/javascript" src="~/Content/js/kiosk.js"></script>
</head>

<body class="kiosk-body">
    <div class="text-center">
        <div class="row">
            @*SnapAttendance logo*@
            <img class="logo" src="~/Content/img/logos/logo_white.png" alt="SnapAttendanceLogo">
        </div>

        @*grid of students, daniel is clickable*@
        <div id="showgrid">

            <!-- row 1-->
            <div class="row">

                <!--buffer column-->
                <div class="col-md-1"></div>

                <!-- John -->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-John.jpg" alt="John">
                        <p>John</p>
                    </div>
                </div>

                <!--Jess-->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Jess.jpg" alt="Jess">
                        <p>Jess</p>
                    </div>
                </div>

                <!--Daniel-->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" id="daniel" src="~/Content/img/student-Daniel.jpg" alt="Daniel">
                        <p>Daniel</p>
                    </div>
                </div>

                

            </div>

            <!-- row 2 -->
            <div class="row">

                <!--buffer column-->
                <div class="col-md-1"></div>

                <!-- Jason -->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Jason.jpg" alt="Jason">
                        <p>Jason</p>
                    </div>
                </div>

                <!-- Dwayne -->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Dwayne.jpg" alt="Dwayne">
                        <p>Dwayne</p>
                    </div>
                </div>

                <!-- Reggie -->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Reggie.jpg" alt="Reggie">
                        <p>Reggie</p>
                    </div>
                </div>

                <!--buffer column-->
                <div class="col-md-1"></div>

            </div>

            <!-- row 3-->
            <div class="row">

                <!--buffer column-->
                <div class="col-md-1"></div>

                <!--Sarah -->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Sarah.jpg" alt="Sarah">
                        <p>Sarah</p>
                    </div>
                </div>

                <!--Taylor-->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Taylor.jpg" alt="Taylor">
                        <p>Taylor</p>
                    </div>
                </div>

                <!--Korina-->
                <div class="col-md-3">
                    <div class="box">
                        <img class="photo" src="~/Content/img/student-Korina.jpg" alt="Korina">
                        <p>Korina</p>
                    </div>
                </div>

                <!--buffer column-->
                <div class="col-md-1"></div>

            </div>
        </div>
    </div>
</body>

<!-- Sign In Modal -->
<div id="in" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <img class="img-responsive" src="~/Content/img/SignInMessage.png" alt="ClickIn" width="300">
    </div>

</div>

<!-- Sign Out Modal -->
<div id="out" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <img class="img-responsive" src="~/Content/img/SignedOutMessage.png" alt="ClickIn" width="300">
    </div>
</div>




