@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<head>
    @*imports google roboto font*@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/kiosk.css">
</head>

<body class="kiosk-body">
    <div class="text-center">
        <div class="row">
            @*SnapAttendance logo*@
            <img class="logo" src="~/Content/img/logos/logo_white.png" alt="SnapAttendanceLogo">
        </div>

        <div id="showgrid">
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
            <div class="row">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</body>



<!-- use map to navigate from home data -->
<map name="KioskLoginMap">
    <area shape="rect" coords="210,315,320,350" href="~/KioskSignIn/Index" alt="Sun">
</map>
