
@{
    ViewBag.Title = "Index";
}

<center><h2>Report</h2></center>

<center><img src="~/Content/img/AdminReports.png" alt="Admin Reports" usemap="ReportMap"></center>

<map name="ReportMap">
    <area shape="rect" coords="0,50,82,126" alt="Students" href="~/AdminStudent/">
    <area shape="rect" coords="0,50,82,126" alt="Reports" href="~/AdminReport/">
    <area shape="rect" coords="0,50,82,126" alt="Calendar" href="~/AdminCalendar/">
    <area shape="rect" coords="0,50,82,126" alt="Settings" href="~/AdminSettings/">
    <area shape="rect" coords="0,50,82,126" alt="Settings" href="~/AdminReportPDF/">
</map>
