
@{
    ViewBag.Title = "Index";
}

<!-- Title text for Report page-->
<center><h2>Report</h2></center>

<!-- Wireframe image for admin reports -->
<center><img src="~/Content/img/AdminReports.png" alt="Admin Reports" usemap="#ReportMap"></center>
<!-- map for navigation -->
<map name="ReportMap">
    <!--Navigation to admin student page-->
    <area shape="rect" coords="22,6,81,27" alt="Students" href="~/Admin/Student">
    <!--Navigation to admin calendar page-->
    <area shape="rect" coords="149,6,207,27" alt="Calendar" href="~/Admin/Calendar">
    <!--Navigation to admin settings page-->
    <area shape="rect" coords="215,6,272,27" alt="Settings" href="~/Admin/Settings">
    <!--Navigation to admin reports page-->
    <area shape="rect" coords="60,48,163,69" alt="Settings" href="~/Admin/ReportPDF">
</map>
