
@{
    ViewBag.Title = "Index";
}

<center><h2>Report</h2></center>

<center><img src="~/Content/img/AdminReports.png" alt="Admin Reports" usemap="#ReportMap"></center>
<!-- map for navigation -->
<map name="ReportMap">
    <area shape="rect" coords="22,6,81,27" alt="Students" href="~/AdminStudent/">
    <area shape="rect" coords="149,6,207,27" alt="Calendar" href="~/AdminCalendar/">
    <area shape="rect" coords="215,6,272,27" alt="Settings" href="~/AdminSettings/">
    <area shape="rect" coords="60,48,163,69" alt="Settings" href="~/AdminReportPDF/">
</map>
