
@{
    ViewBag.Title = "Calendar";
}

<!--Title text for calendar page-->
<center><h2>Calendar</h2></center>

<!-- Wireframe image for calendar -->
<center><img src="~/Content/img/AdminCalender.png" alt="Admin Calendar" usemap="#CalendarMap"></center>

<!-- map for navigation -->
<map name="CalendarMap">
    <!-- Navigates to Admin student page -->
    <area shape="rect" coords="21,4,80,28" alt="Students" href="~/Admin/Student/">
    <!-- Navigates to Admin Report page-->
    <area shape="rect" coords="88,4,141,28" alt="Reports" href="~/Admin/Report/">
    <!--Navigates to Admin Settings page -->
    <area shape="rect" coords="216,4,270,28" alt="Settings" href="~/Admin/Settings/">
</map>
