
@{
    ViewBag.Title = "Calendar";
}

<head>

    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!--Link to adminCalendar.css-->
    <link rel="stylesheet" type="text/css" href="~/Content/adminCalendar.css">

</head>

<div class="row">
    <div class="center-block col-lg-12 logo">
        <img src="~/Content/img/logos/logo_white.png" alt="">
        <h1><b>Admin</b></h1>
    </div>
</div>

<div class="container">

    <ul class="nav nav-tabs">
        <li><a href="~/Admin/Student/">Student</a></li>
        <li><a href="~/Admin/Report/">Reporting</a></li>
        <li class="active"><a href="~/Admin/Calendar/">Calendar</a></li>
        <li><a href="~/Admin/Settings/">Settings</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="outerContainer">
                <button type="button" class="btn btn-primary">Edit Calendar</button>
                <input class="search" type="text" placeholder="Search Calendar..">
                <div class="innerContainer">
                    <center>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <p><b>First Day Of Class:</b> March 2, 2017</p>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <p><b>Last Day of Class:</b> March 3, 2018</p>
                            </div>

                        </div>
                    </center>
                    <center>
                        <iframe src="https://calendar.google.com/calendar/embed?src=egjtv6tqan0c5t5sscthrlumik%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
