
@* Title of Page, Expanded Student *@
@{
    ViewBag.Title = "ExpandedStudentx";
}

@* Title of Admin Expanded Student Page *@
<center><h2>Admin Expanded Student</h2></center>

@* Picture of the wireframe for Admin Expanded Student *@
<center><img src="~/Content/img/Expanded_Student_View.png" alt="Expanded Student View" usemap="#AdminExpandedStudentMap"></center>

@* Mapping of Expanded Student Wireframe, allows to link back to the Admin Expanded page *@
<map name="AdminExpandedStudentMap">
    <area shape="rect" coords="36, 74, 87, 122" href="~/Admin/Student" alt="Sun">
</map>