
@{
    ViewBag.Title = "Index";
}

<center><h2>Welcome to the Admin Login Page</h2></center>

<center><img src="~/Content/img/AdminLogin.jpg" alt="Admin Login" usemap="#AdminLoginMap" /></center>

<map name="AdminLoginMap">
    <area shape="rect" coords="385,480,495,515" href="~/AdminStudent/Index" alt="Sun">
</map>

