
@{
    ViewBag.Title = "Index";
}

<!-- Title text for Admin Login Page -->
<center><h2>Welcome to the Admin Login Page</h2></center>

<!-- Wireframe Image for Admin Login -->
<center><img src="~/Content/img/AdminLogin.jpg" alt="Admin Login" usemap="#AdminLoginMap" /></center>

<!-- Use map navigation from AdminLogin to AdminStudent -->
<map name="AdminLoginMap">
    <!-- maps to Admin student -->
    <area shape="rect" coords="385,480,495,515" href="~/AdminStudent/Index" alt="Sun">
</map>

