
@using system.linq
@{
    ViewBag.Title = "Report";
}

<head>
    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!--Link to adminReport.css-->
    <link rel="stylesheet" type="text/css" href="~/Content/adminReport.css">

</head>

<div class="row">
    <div class="center-block col-lg-12 logo">
        <img src="~/Content/img/logos/logo_white.png" alt="">
        <h1><b>Admin</b></h1>
    </div>
</div>
<div class="container">

    <ul class="nav nav-tabs">
        <li><a href="~/Admin/Student/">Student</a></li>
        <li class="active"><a href="~/Admin/Report/">Reporting</a></li>
        <li><a href="~/Admin/Calendar/">Calendar</a></li>
        <li><a href="~/Admin/Settings/">Settings</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="outerContainer">
                <div class="row leftmargin">
                    <div class="col-sm-3">
                        <form>
                            <input type="button" id="exportReport" value="Export Report PDF" class="btn btn-primary" onclick="window.location.href='../../Content/PDF/JohnnySmithAttendanceReport.pdf'" />
                        </form>
                    </div>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary">Edit report</button> 
                    </div>
                </div>
                <div class="row leftmargin">
                    <div class="dropdown btn-group">
                        <button type="button" class="btn btn-default">Student</button>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Johnny Smith
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Jennifer Lawrence</a></li>
                            <li><a href="#">Jose Garcia</a></li>
                            <li><a href="#">Peter King</a></li>
                            <li><a href="#">Erika Flores</a></li>
                            <li><a href="#">Phil Peterson</a></li>
                            <li><a href="#">Aaron Cuevas</a></li>
                            <li><a href="#">Miguel Gomez</a></li>
                            <li><a href="#">Tiffany Yue</a></li>
                        </ul>
                    </div>
                </div>
                <div class="innerContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time In</th>
                                <th scope="col">Time Out</th>
                                <th scope="col">Time Accrued (minutes)</th>
                                <th scope="col">In Early</th>
                                <th scope="col">Out Late</th>
                                <th scope="col">Absent</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">09/16/18</th>
                                <td>8:55 am</td>
                                <td>1:55 pm</td>
                                <td>300</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">09/17/18</th>
                                <td></td>
                                <td></td>
                                <td>0</td>
                                <td></td>
                                <td></td>
                                <td>[x]</td>
                            </tr>
                            <tr>
                                <th scope="row">09/18/18</th>
                                <td>9:05 am</td>
                                <td>1:00 pm</td>
                                <td>126</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">09/19/18</th>
                                <td>8:45 am</td>
                                <td>12:31 pm</td>
                                <td>180</td>
                                <td>[x]</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">09/20/18</th>
                                <td>8:54 am</td>
                                <td>3:05 pm</td>
                                <td>306</td>
                                <td></td>
                                <td>[x]</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">.</th>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                            </tr>
                            <tr>
                                <th scope="row">.</th>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                            </tr>
                            <tr>
                                <th scope="row">.</th>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                                <td>.</td>
                            </tr>
                            <tr>
                                <th scope="row">12/16/18</th>
                                <td>8:50 am</td>
                                <td>2:30 pm</td>
                                <td>340</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Total</th>
                                <td></td>
                                <td></td>
                                <td>232 hrs</td>
                                <td>4</td>
                                <td>1</td>
                                <td>7</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*outside of inner container but within outer container*@
                <div class="row leftmargin">
                    <div class="btn-group formSpacing">
                        <button type="button" class="btn btn-default">Start Date</button>
                        <input type="date" name="dateofbirth" id="dateofbirth">
                    </div>
                </div>
                <div class="row leftmargin">
                    <div class="btn-group formSpacing">
                        <button type="button" class="btn btn-default">End Date</button>
                        <input type="date" name="dateofbirth" id="dateofbirth">
                    </div>
                </div>
                <div class="row leftmargin">
                    <div class="input-group formSpacing">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Expected Time Multiplier</button>
                        </span>
                        <input type="text" class="form-control">
                        <div class="trend">
                            Show Expected Trend Line<input type="checkbox" name="trend" value="checkBox" class="checkMark">
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>




