
@{
    ViewBag.Title = "Report";
}


<!-- Title text for Report page-->
<header>
    <center><h2>Report Editor</h2></center>
</header>

<body>
    <!-- Wireframe image for admin reports -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time In</th>
                <th scope="col">Time Out</th>
                <th scope="col">Time Accrued (minutes)</th>
                <th scope="col">In Early</th>
                <th scope="col">Out Late</th>
                <th scope="col">Absent</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">09/16/18</th>
                <td>8:55 am</td>
                <td>1:55 pm</td>
                <td>300</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">09/17/18</th>
                <td></td>
                <td></td>
                <td>0</td>
                <td></td>
                <td></td>
                <td>[x]</td>
            </tr>
            <tr>
                <th scope="row">09/18/18</th>
                <td>9:05 am</td>
                <td>1:00 pm</td>
                <td>126</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">09/19/18</th>
                <td>8:45 am</td>
                <td>12:31 pm</td>
                <td>180</td>
                <td>[x]</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">09/20/18</th>
                <td>8:54 am</td>
                <td>3:05 pm</td>
                <td>306</td>
                <td></td>
                <td>[x]</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">.</th>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
            </tr>
            <tr>
                <th scope="row">.</th>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
            </tr>
            <tr>
                <th scope="row">.</th>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
            </tr>
            <tr>
                <th scope="row">12/16/18</th>
                <td>8:50 am</td>
                <td>2:30 pm</td>
                <td>340</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td>232 hrs</td>
                <td>4</td>
                <td>1</td>
                <td>7</td>
            </tr>
        </tbody>
    </table>
</body>
<!--<center><img src="~/Content/img/AdminReportCustomization.png" alt="Admin Reports" usemap="#ReportMap"></center>-->
<!-- map for navigation -->
<map name="ReportMap">
    <!--Navigation to admin student page-->
    <area shape="rect" coords="22,6,81,27" alt="Students" href="~/Admin/Student">
    <!--Navigation to admin calendar page-->
    <area shape="rect" coords="149,6,207,27" alt="Calendar" href="~/Admin/Calendar">
    <!--Navigation to admin settings page-->
    <area shape="rect" coords="215,6,272,27" alt="Settings" href="~/Admin/Settings">
    <!--Navigation to admin reports page-->
    <area shape="rect" coords="60,48,163,69" alt="ReportPDF" href="~/Admin/ReportPDF">
</map>