
@{
    ViewBag.Title = "ReportPDF";
}

<head>
    <style>
        #pdfTitle {
            font-family:Arial, sans-serif;
            font-size: 48px;
        }
        #pdfCaption {
            font-family: Arial, sans-serif;
            font-size: 28px;
        }
        #pdfBox {
            border-color:black;
            width: 80%;
            height: 150px;
        }
    </style>
</head>

<!--Title text for report page-->
<center><h2>Report PDF</h2></center>
    <!--button to take you back to admin report page-->
@Html.ActionLink("Back", "Index", "Admin/Report", null, new { @class = "btn btn-primary" })

<!-- Title text for Report PDF -->
<h1 id="pdfTitle">
    If you are seeing this page instead of having a downloaded
    PDF, something went wrong.
</h1>

<!-- map for navigation -->
<map name="AdminReportPDFMap">
    <!--Navigation to admin report.-->
    <area shape="rect" coords="385,480,495,515" href="~/Admin/Report" alt="Sun">
</map>