
@{
    ViewBag.Title = "Settings";
}

<head>

    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!--Link to adminSettings.css-->
    <link rel="stylesheet" type="text/css" href="~/Content/adminSettings.css">

</head>

<div class="row">
    <div class="center-block col-lg-12 logo">
        <img src="~/Content/img/logos/logo_white.png" alt="">
        <h1><b>Admin</b></h1>
    </div>
</div>
<div class="container">

    <ul class="nav nav-tabs">
        <li><a href="~/Admin/Student/">Student</a></li>
        <li><a href="~/Admin/Report/">Reporting</a></li>
        <li><a href="~/Admin/Calendar/">Calendar</a></li>
        <li class="active"><a a data-toggle="tab" href="~/Admin/Settings/">Settings</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="outerContainer">
                <button type="button" class="btn btn-primary">Add Administrator Account</button>
                
                <div class="innerContainer">
                    <br />
                    <h3>Settings</h3>
                    <br />

                    <!-- reset calender year -->
                    <div class="row">

                        <div class="col-md-3">
                            <p>Reset calender year</p>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary">Reset</button>
                        </div>
                        <br />

                    </div>
                    <br />

                    <!-- add holiday in calender -->
                    <div class="row">
                        <div class="col-md-3">
                            <p>Add holiday</p>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary">+</button>
                        </div>
                        <br />

                    </div>
                    <br />

                    <!-- remove holiday in calender -->
                    <div class="row">
                        <div class="col-md-3">
                            <p>Remove holiday</p>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary">-</button>
                        </div>
                        <br />

                    </div>
                    <br />

                    <!-- add admin -->
                    <div class="row">
                        <div class="col-md-3">
                            <p>Add administrator</p>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary">+</button>
                        </div>
                        <br />

                    </div>
                    <br />

                    <!-- remove admin -->
                    <div class="row">
                        <div class="col-md-3">
                            <p>Remove administrator</p>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-primary">-</button>
                        </div>
                        <br />
                    </div>
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>

