@model _5051.Models.StudentViewModel
    @using system.linq

    @* Title of page, Student *@
    @{
    ViewBag.Title = "Student";
    }

<head>

    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!--Link to adminStudent.css-->
    <link rel="stylesheet" type="text/css" href="~/Content/adminStudent.css">

</head>

    <!-- logo image -->
    <div class="row">
        <div class="center-block col-lg-12 logo">
            <img src="~/Content/img/logos/logo_white.png" alt="">
            <h1><b>Admin</b></h1>
        </div>
    </div>

    <!-- grey box -->
    <div class="container">

        <!-- admin tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Student</a></li>
            <li><a href="~/Admin/Report/">Reporting</a></li>
            <li><a href="~/Admin/Calendar/">Calendar</a></li>
            <li><a href="~/Admin/Settings/">Settings</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="outerContainer">

                    <!--buttons to add and remove student -->
                    <button type="button" class="btn btn-primary">Add Student</button>
                    <button type="button" class="btn btn-primary">Remove Student</button>
                    <input class="search" type="text" placeholder="Search Students..">

                    <!-- white inner box-->
                    <div class="innerContainer">

                        <div class="container">

                            <div class="row">
                                <div class="col-md-2">
                                    <h3>Students</h3>
                                </div>

                                <div class="col-md-10">
                                    <br />
                                    <input type="date" name="dateofbirth" id="dateofbirth">
                                </div>
                            </div>

                            <!-- row 1 -->
                            <div class="row">
                               
                                @foreach (var item in Model.StudentList)
                                { 
                                    <div class="col-md-4">

                                        <div class="row">
                                            <!-- Image and name area -->
                                            <div class="col-md-6">
                                                <br /><p><b>@item.Name</b></p>
                                                <a href="~/Admin/Report/">
                                                    <img src="~/Content/img/@item.AvatarId" alt="@item.Name" height=100px>
                                                </a>
                                            </div>

                                            <!-- Student attendance area-->
                                            <div class="col-md-6">
                                                <p>
                                                    <br /> <br /> <br />
                                                    <!--student time in -->
                                                    IN: @item.TimeIn
                                                    <br />
                                                    <!-- student time out-->
                                                    OUT: @item.TimeOut

                                                    <!-- photo of up or down arrow  -->
                                                    <br />
                                                    <center><img src="~/Content/img/greenUp.png" alt="green" height=50px></center>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div><br /> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

