
@{
    ViewBag.Title = "Index";
}

<!-- Title text for admin settings -->
<center><h2>Admin Settings Page</h2></center>

<!-- Wireframe image for admin settings -->
<center><img src="~/Content/img/Admin_Settings_Tab.png" alt="Admin Settings" usemap="#SettingsMap"></center>

<!-- usemap navigation from admin settings -->
<map name="SettingsMap">
    <!-- Navigation to admin student -->
    <area shape="rect" coords="32,55,131,92" alt="Students" href="~/AdminStudent/">
    <!-- Navigation to admin report -->
    <area shape="rect" coords="145,55,232,92" alt="Reports" href="~/AdminReport/">
    <!--Navigation to admin calendar -->
    <area shape="rect" coords="247,55,346,92" alt="Calendar" href="~/Admin/Calendar">
</map>

