@*sets the title of the page*@
@{
    ViewBag.Title = "Index";
}

@*wireframe png*@
<div>
    <img src="~/Content/img/student_login.png" alt="Student Login Wireframe" class="center" usemap="#StudentLoginMap">
</div>

@*hotspot on the wireframe image to link to the student section*@
<map name="StudentLoginMap">
    <area shape="rect" coords="380,450,486,484" href="~/StudentHome/Index" alt="Sun">
</map>