
@{
    ViewBag.Title = "Index";
}

<div>
    <img src="~/Content/img/student_login.png" alt="Student Login Wireframe" class="center" usemap="#StudentLoginMap">
</div>


<map name="StudentLoginMap">
    <area shape="rect" coords="385,480,495,515" href="~/StudentHome/Index" alt="Sun">
</map>