
@{
    ViewBag.Title = "Index";
}

<a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>

<center><h2>Welcome to the Student Data Page</h2></center>

<center><img src="~/Content/img/StudentDataTab.jpg" alt="Student Data" usemap="#StudentDataMap" /></center>

<map name="StudentDataMap">
    <area shape="rect" coords="385,480,495,515" href="~/StudentHome/Index" alt="Sun">
    <area shape="rect" coords="385,480,495,515" href="~/StudentBadges/Index" alt="Sun">
</map>