
@{
    ViewBag.Title = "Index";
}

<center><h2>Welcome to the Student Data Page</h2></center>

<center><img src="~/Content/img/StudentDataTab.jpg" alt="Student Data" usemap="#StudentDataMap" /></center>

<map name="StudentDataMap">
    <area shape="rect" coords="1,435,152,497" href="~/StudentHome/Index" alt="Sun">
    <area shape="rect" coords="154,435,294,497" href="~/StudentBadges/Index" alt="Sun">
</map>