@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}


<div>
    <img src="~/Content/img/student_login.png" alt="Student Login Wireframe" class="center" usemap="#StudentLoginMap">
</div>


<map name="StudentLoginMap">
    <area shape="rect" coords="380,450,486,484" href="~/Student/StudentHome" alt="Sun">
</map>