
@{
    ViewBag.Title = "StudentBadges";
}

<head>
    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- Style used for Student Page -->
    <style>
        /* Dark Teal background */
        body {
            background-color: #127F7A;
        }
        /* Yellow Title */
        h1 {
            color: #FFC526;
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
        /* Container for each line of badges */
        badgeRow {
            color: #4DADAB;
        }
        badgeIcon {
            width: 150px;
            height: 150px;
            padding-right: 500px;
        }
    </style>
</head>

<!-- Title text for Student Badges Page -->
<!-- TO-DO: Add Snap Attendance Logo -->
<div>
    <p>Snap Attendance Logo Goes Here</p>
</div>
<br />
<h1>
    <img src="~/Content/img/Student/StudentBadges_HeadIcon.png" style="width: 50px; height: 50px; padding-right: 5px; padding-bottom: 5px;" />
    Badge Collection
</h1>

<!-- Row Badges go here -->


<!-- Usemap to navigate from student badges -->
<map name="StudentBadgesMap">
    <!-- Navigates to student Home page -->
    <area shape="rect" coords="1,435,152,497" href="~/Student/StudentHome" alt="Sun">
    <!-- Navigates to student data page -->
    <area shape="rect" coords="297,435,423,498" href="~/Student/StudentData" alt="Sun">
</map>