
@{
    ViewBag.Title = "Index";
}

<!-- Title text for student data page -->
<center><h2>Welcome to the Student Data Page</h2></center>

<!-- Wireframe image for student data page -->
<center><img src="~/Content/img/StudentDataTab.jpg" alt="Student Data" usemap="#StudentDataMap" /></center>

<!-- use map to navigate from student data -->
<map name="StudentDataMap">
    <!-- Navigates to student home -->
    <area shape="rect" coords="1,435,152,497" href="~/Student/StudentHome" alt="Sun">
    <!-- Navigates to stuent Badges -->
    <area shape="rect" coords="154,435,294,497" href="~/Student/StudentBadges" alt="Sun">
</map>