
@{
    ViewBag.Title = "Student Badges";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Student.css">
</head>

<!-- Tab Buttons at the Top of the page -->
<center>
    <div class="navbar-btn" id="studentNavBar">
        <a href="~/Student/StudentBadges" class="active" id="studentBadgesTab">
            Badges
            <img src="~/Content/img/Student/StudentBadges_BadgesTab.png" style="padding-bottom:15px;" />
        </a>
        <a href="~/Student/StudentData" id="studentDataTab">
            Data
            <img src="~/Content/img/Student/StudentBadges_DataTab.png" style="padding-bottom:15px;" />
        </a>
    </div>
</center>

<!-- Title text for Student Badges Page -->
<div>
    <img src="~/Content/img/logos/logo_white.png" alt="Snap Attendance Logo" />
</div>
<h1 id="pageTitle">
    <img src="~/Content/img/Student/StudentBadges_HeadIcon.png" style="width: 50px; height: 50px; padding-right: 5px; padding-bottom: 5px;" />
    Badge Collection
</h1>

<!-- Rows of Badges start here -->
<!-- Early Bird Row -->
<h3 id="rowTitle">Early Bird</h3>
<center>
    <div class="row" id="badgeRow">
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB1.png" class="img-responsive" alt="Badge 1" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">Bronze Early Bird</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
    </div>
</center>


<!-- Hot Streak Row -->
<h3 id="rowTitle">Hot Streak</h3>
<center>
    <div class="row" id="badgeRow">
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
    </div>
</center>

