
@{
    ViewBag.Title = "StudentBadges";
}

<!-- Style used for Student Page -->
<style>
    /* Dark Teal background */
    body {background-color: #127F7A;}
    /* Yellow Title */
    h1 { color: #F1BB15; }
    /* Container for each line of badges */
    badgeRow { color: #4DADAB;}
</style>
<!-- Title text for Student Badges Page -->
<center><h1>Badge Collection</h1></center>

<!-- Wireframe image for student badges page  -->
<center><img src="" alt="Student Badges" usemap="#StudentBadgesMap" /></center>

<!-- Usemap to navigate from student badges -->
<map name="StudentBadgesMap">
    <!-- Navigates to student Home page -->
    <area shape="rect" coords="1,435,152,497" href="~/Student/StudentHome" alt="Sun">
    <!-- Navigates to student data page -->
    <area shape="rect" coords="297,435,423,498" href="~/Student/StudentData" alt="Sun">
</map>