
@{
    ViewBag.Title = "Student Badges";
}

<head>
    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">

    <!-- JS for POPUP container -->
    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>

    <!-- Style used for Student Page -->
    <style>
        /* Dark Teal background */
        body {
            background-color: #127f79;
        }
        /* Yellow Title */
        #pageTitle {
            color: #FFC526;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 45px;
        }

        /* Title for each badge row*/
        #rowTitle {
            color: #58c4c2;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 30px;
        }
        /* Container for each line of badges */
        #badgeRow {
            background-color: #58c4c2;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 25px;
        }

        /* Caption for Badges*/
        #badgeCaption {
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 20px;
        }

        /* Navbar at bottom of page for navigating between student pages */
        #studentNavBar {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 45px;
            width: 100%;
            padding: 5px;
        }

        /* Style for Navbar Badge Button*/
        #studentBadgesTab {
            background-color: #febc04;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        /* Style for Navbar Data Tab */
        #studentDataTab {
            background-color: #fcce00;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        /* Style for Navbar Profile Tab*/
        #studentProfileTab {
            background-color: #67dbdb;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            border: 4px solid #f2c924;
            padding: 10px;
            border-radius: 25px;
        }

        #dropDownText {
            color: cadetblue;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }
    </style>
</head>

<!-- Tab Buttons at the Top of the page -->
<center>
    <div class="navbar-btn" id="studentNavBar">
        <a href="~/Student/StudentBadges" class="active" id="studentBadgesTab">
            Badges
            <img src="~/Content/img/Student/StudentBadges_BadgesTab.png" style="padding-bottom:15px;" />
        </a>
        <a href="~/Student/StudentData" id="studentDataTab">
            Data
            <img src="~/Content/img/Student/StudentBadges_DataTab.png" style="padding-bottom:15px;" />
        </a>
    </div>
</center>

<!-- Title text for Student Badges Page -->
<div>
    <img src="~/Content/img/logos/logo_white.png" alt="Snap Attendance Logo" />
</div>
<h1 id="pageTitle">
    <img src="~/Content/img/Student/StudentBadges_HeadIcon.png" style="width: 50px; height: 50px; padding-right: 5px; padding-bottom: 5px;" />
    Badge Collection
</h1>

<!-- Rows of Badges start here -->
<!-- Early Bird Row -->
<h3 id="rowTitle">Early Bird</h3>
<center>
    <div class="row" id="badgeRow">
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB1.png" class="img-responsive" alt="Badge 1" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">Bronze Early Bird</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown">
                <img src="~/Content/img/Student/StudentBadges_EarlyB0.png" class="img-responsive" alt="Badge 2" />
                <div class="dropdown-content">
                    <div id="dropDownText">
                        Earn this badge by coming early to class!
                    </div>
                </div>
            </div>
            <div id="badgeCaption">????</div>
        </div>
    </div>
</center>


<!-- Hot Streak Row -->
<h3 id="rowTitle">Hot Streak</h3>
<center>
    <div class="row" id="badgeRow">
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
        <div class="col-sm-3">
            <img src="~/Content/img/Student/StudentBadges_HotStreak0.png" class="img-responsive" alt="Badge 3" />
            <a id="badgeCaption" href="#hotStreakPop">????</a>
        </div>
    </div>
</center>
<!-- Hot Streak Badge Popup-->
<div id="hotStreakPop" class="overlay">
    <div class="popup">
        <h2>Hot Streak</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            Earn this badge by coming to class multiple days in a row!
        </div>
    </div>
</div>

