
@{
    ViewBag.Title = "StudentBadges";
}

<!-- Style used for Student Page -->
<style>
    body {background-color: #127F7A;}

</style>
<!-- Title text for Student Badges Page -->
<center><h2>Welcome to the Student Badges Page</h2></center>

<!-- Wireframe image for student badges page  -->
<center><img src="~/Content/img/StudentBadgeTab.jpg" alt="Student Badges" usemap="#StudentBadgesMap" /></center>

<!-- Usemap to navigate from student badges -->
<map name="StudentBadgesMap">
    <!-- Navigates to student Home page -->
    <area shape="rect" coords="1,435,152,497" href="~/Student/StudentHome" alt="Sun">
    <!-- Navigates to student data page -->
    <area shape="rect" coords="297,435,423,498" href="~/Student/StudentData" alt="Sun">
</map>