
@{
    ViewBag.Title = "Index";
}

<head>
    <!-- Link for the Roboto Thin style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">

    <style>
        body {
            background-color: #127f79;
        }
        /* Yellow Title */
        #pageTitle {
            color: #FFC526;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 45px;
        }

        /* Navbar at bottom of page for navigating between student pages */
        #studentNavBar {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 45px;
            width: 100%;
            padding: 5px;
        }

        /* Style for Navbar Badge Button*/
        #studentBadgesTab {
            background-color: #febc04;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        /* Style for Navbar Data Tab */
        #studentDataTab {
            background-color: #fcce00;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        /* Style for Navbar Profile Tab*/
        #studentProfileTab {
            background-color: #67dbdb;
            color: white;
            padding: 10px;
            padding-left: 80px;
            padding-right: 80px;
            margin-left: 3px;
            margin-right: 3px;
        }

        /* Container Data Section */
        #dataBox {
            background-color: #58c4c2;
            padding-top: 25px;
            padding-bottom: 10px;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        #dataText {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 25px;
            color: #127f79;
        }

        #dataTitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 40px;
            color: white;
        }
    </style>
</head>

<!-- Snap Attendance Logo -->
<div>
    <img src="~/Content/img/logos/logo_white.png" alt="Snap Attendance Logo" />
</div>

<h1 id="pageTitle">
    Student Data
</h1>

<!-- Top Data Box -->
<center>
    <div class="row" id="dataBox">
        <div class="col-sm-6">
            <img src="~/Content/img/Student/StudentData_Graph.png" class="img-responsive" alt="Graph Picture" />
            <div id="dataText" style="padding-top:5px;">
                +5% Avg!
            </div>
        </div>
        <div class="col-sm-6">
            <div id="dataTitle">
                Goals
            </div>
            <div id="dataText">Hot Streak Badge</div>
            <div class="progress" style="width:60%">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width:60%">
                </div>
            </div>
            <div id="dataText">
                60% 9:00AM
            </div>
        </div>
    </div>
</center>

<!-- Bottom Data Box -->
<center>
    <div class="row" id="dataBox">
        Data Grid Goes Here
    </div>
</center>



<!-- Tab Buttons at the bottom of the page -->
<center>
    <div class="navbar-btn" id="studentNavBar">
        <a href="~/Student/StudentBadges" class="active" id="studentBadgesTab">
            Badges
            <img src="~/Content/img/Student/StudentBadges_BadgesTab.png" style="padding-bottom:15px;" />
        </a>
        <a href="~/Student/StudentData" id="studentDataTab">
            Data
            <img src="~/Content/img/Student/StudentBadges_DataTab.png" style="padding-bottom:15px;" />
        </a>
        <a href="~/Student/StudentHome" id="studentProfileTab">
            Profile
            <img src="~/Content/img/Student/StudentBadges_ProfileTab.png" style="padding-bottom:15px;" />
        </a>
    </div>
</center>