@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Title of Kiosk Sign in page-->
<center><h2>Kiosk Sign In Page</h2></center>

<!-- Wireframe of main Kiosk Sign In page-->
<center><img src="~/Content/img/Kiosk.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<!-- Button around student 'Daniel' on top right, click to 'sign-in'-->
<map name="KioskSignInMap">
    <area shape="rect" coords="524,138,591,206" href="SignInNot" alt="Sun">

</map>

