@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "SignInNot";
}

<center><h2>Kiosk Sign In Notification Page</h2></center>

<center><img src="~/Content/img/Kiosk.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<map name="KioskSignInMap">
    <area shape="rect" coords="385,480,495,515" href="~/StudentSignInNotification/Index" alt="Sun">

</map>

