@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "ColoredNot";
}

<!-- Title of method action -->
<center><h2>Kiosk Someone Signed In</h2></center>

<!-- Click on student photo to change photo of student to highlighted -->
<center><img src="~/Content/img/Kiosk_Signed_In.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<!-- Rectangle around student photo to sign out. -->
<map name="KioskSignInMap">
    <area shape="rect" coords="524,138,591,206" href="SignOutNotification" alt="Sun">

</map>

