@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "SignOutNot";
}

<center><h2>Kiosk Signed Out Notification</h2></center>

<center><img src="~/Content/img/Kiosk_Signed_Out_Notification.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<map name="KioskSignInMap">
    <area shape="rect" coords="614,365,652,400" href="Index" alt="Sun">

</map>

