@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "SignInNot";
}

<center><h2>Kiosk Sign In Notification Page</h2></center>

<center><img src="~/Content/img/Kiosk_Signed_In_Notification.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<map name="KioskSignInMap">
    <area shape="rect" coords="614,365,652,400" href="ColoredNot" alt="exit">

</map>

