@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "SignInNot";
}

<!-- Kiosk Sign in notification title-->
<center><h2>Kiosk Sign In Notification Page</h2></center>

<!--Wireframe of kiosk sign in notification -->
<center><img src="~/Content/img/Kiosk_Signed_In_Notification.png" alt="Kiosk Sign In" usemap="#KioskSignInMap"></center>

<!-- Rectangle link around 'x' of notification to close and return to kiosk-->
<map name="KioskSignInMap">
    <area shape="rect" coords="614,365,652,400" href="ColoredNot" alt="exit">

</map>

